#photo_background{
    background-image: url(img/randonnées/rando_back.png);
    padding:25%;
    margin-top: -18%;
    margin-left: -13%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: -22%;
}